---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head> 
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main >
			<h1>Welcome</h1>
			<p>
                Welcome to my site. Here's where I share my consulting projects and princicples as well as some blog posts about things I'm
                learning in tech or some hopefully interesting thoughts about various tech topics. If you'd like to work with me,
                I'd encourage you to check out the <a href="/consulting">consulting</a> section to better understand what I'm like
                to work with. If you're more interested in tech topics like Ruby, game dev, etc. head to the blog (coming soon).
            </p>
            <p>
               To me, right now tech is very difficult to navigate, I either see:
                <ul>
                    <li>Lots of reliance on Javascript based frameworks, the cloud, or microservices</li>
                    <li>The insertion of AI in every. possible. thing.</li>
                </ul>
                And don't get me wrong, for the right situations, these can be really useful tools, but for most small businesses, they simply don't make sense. 
            </p>
            <p>This site is built on <a href="https://astro.build/">Astro</a> and is a static site.</p>
		</main>
		<Footer />
        <style>
        </style>

	</body>
</html>
